.social_pic{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    -webkit-filter: invert();
    filter: invert();
}
.foot_menu{
    margin-top: 10px;
    text-align: center;
}
.fixed_navbar{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background: transparent;
    display: block;
}
.navbar_content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}
.navbar_content li{
    float: left;
    border-right: 1px solid black;
}
.navbar_content a{
    display: block;
    color: #0a53be;
    text-align: center;
    padding: 8px;
    background-color: #5c636a;
}
.navbar_content a:hover{
    background-color: red;
    color: #0c4128;
}
.navbar_content a:active{
    background-color: white;
}
h1{
    text-align: center;
    font-size: 90px;
}
body{
    /*background-image: repeating-radial-gradient(Red, Blue);*/
    height: auto;
    width: 100%;
    position: absolute;
    background: url(Media/purple2.jpeg) no-repeat fixed center;
    background-size: 100% 100%;
}
.upcoming{
    margin-top: -60px;
    text-align: center;
}
.box{
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: 8px;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.other_btn {
    z-index: 1;
    background-color: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 2px solid;
    display: block;
    font-size: 17px;
    padding: 0 1em;
    text-decoration: none;
    position: relative;
}
.date{
    text-align: left;
    font-size: 12px;
}
.media_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}
.show{
    z-index: 1;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid;
    -webkit-backdrop-filter: invert(100%);
    backdrop-filter: invert(100%);
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    position: relative;
}
.left{
    margin-left: 15px;
    font-size: 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.middle{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    text-align: center;
    font-size: 30px;
}
.right{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 10px;
    -ms-flex-line-pack: center;
    align-content: center;
}
.calendar_pic{
    width: 60px;
    height: 60px;
}
